body {
	width: 100%;
  }

nav {
	margin: 25px;
}

nav a {
	float: right;
	margin: 10px;
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

ul {
	list-style:none;
}

hr.separator {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    background-color:  #4885ed; /* Green */
    border: none;
	color: white;
	float: right;
    text-align: center;
    text-decoration: none;
	font-size: 13px;
	font-weight: bold;
    margin: 4px 2px;
	cursor: pointer;
	padding: 8px 13px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
}



.text-center {
	text-align: center;
}


.button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 9px 4px;
	padding: 0 16px;
	height: 36px;
}

.button:hover{
	color: #000;
	border: 1px solid #ccc;
}

/* .outer_div{
	position: absolute;
	bottom: 50%;
	width: 100%;

	See container
} */

.center_div {
	margin: 0 auto;
	width: 250px;
}

.column_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.small_font {
	font-size: 13px;
	text-align: center;
}
.inline-flex {
  display: inline-flex;
}

.input-width {
	width: 300px; 
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

#searchBox {
	border: 1px;
	border-color: #f2f2f2;
	box-shadow:1px 1px 5px grey;  
	height: 50px;
	width: 500px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
	color: 000;
 }

 .navbar-nav {
	float: left;
	display: inline-flex;
	font-size: 13px;
}

.navbar-nav a {
	color: #97a7a7;
	text-decoration: none;
	margin: 15px
}

.navbar-right {
    float: right !important;
	margin: 15px;
	display: inline-flex;
	font-size: 13px;
}

.navbar-right a {
	color: #97a7a7;
	text-decoration: none;
	margin: 15px
}

.icon{
	margin-top: -5px;
}

.footer-text{
	color: #97a7a7;
	margin-left: 55px;
}

.hidden {
	display: none;
}

.sweet-alert button.cancel {
    background-color: red;
}

@media screen and (max-width: 550px) {
	nav {
		margin: 0;
	}
	.center_div {
		margin: 0 auto;
		width: 0;
	}
	#searchBox {
		border: 1px solid  #f2f2f2;	
		box-shadow: 1px 1px 5px grey;
		height: 50px;
		width: 250px;
	}


	.small_font {
		font-size: 10px;
	}

  }

  @keyframes move-eye-skew {
	0% {
	  transform: none;
	}
	20% {
	  transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
	}
	25%, 44% {
	  transform: none;
	}
	50%, 60% {
	  transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
	}
	66%, 100% {
	  transform: none;
	}
  }
  
  .ball {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: relative;
	background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
  }
  .ball:after {
	content: "";
	position: absolute;
	top: 5%;
	left: 10%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
	transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  }
  
  .iris {
	width: 40%;
	height: 40%;
	margin: 30%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
	transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
	position: absolute;
	animation: move-eye-skew 5s ease-out infinite;
  }
  .iris:before {
	content: "";
	display: block;
	position: absolute;
	width: 37.5%;
	height: 37.5%;
	border-radius: 50%;
	top: 31.25%;
	left: 31.25%;
	background: black;
  }
  .iris:after {
	content: "";
	display: block;
	position: absolute;
	width: 31.25%;
	height: 31.25%;
	border-radius: 50%;
	top: 18.75%;
	left: 18.75%;
	background: rgba(255, 255, 255, 0.2);
  }
  
  .ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
	z-index: -1;
  }
  .stage {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
	perspective: 1200px;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
	transform: rotateY(0.01deg);
	margin-left: 35%;
  }
